.title-bar {
	span{
		font-size: 24px;
		color: #000;
	}
}

.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
	border-top: 3px solid transparent;
	border-top-color: red;
}