@import "../../../../style/vars.less";

.menu-option-filter-model {
  .menu-options-items {
    background: #fff;
    color: #000;
    border: none;
    li {
      border: 1px solid #ccc;
    }
    .ant-menu-sub.ant-menu-inline {
      color: #000;
    }
    button {
      margin: 0;
    }
  }

  .btn-options {
    text-transform: uppercase;
    width: 100%;
    border: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid #000;
  }

  .btn-options-primary {
    background: @secondary-color;
  }

	@media screen and (max-width: 500px) {
		display: none;
	}
}
