.private-streaming-container {
  position: relative;
  margin: 5px 0;
  min-height: 520px;

  #private-publisher {
    right: 10px;
    top: 25px;
    height: 145px;
    width: 145px;
    position: absolute;
    z-index: 1;
  }

  #private-subscriber {
    width: 100% !important;
    height: 480px;
    object-fit: cover;
  }
}

.account-form {
  .btn-popup-delete {
    margin: 10px 0;
    align-items: center;
  }
}

.ant-popover-content {
  .ant-popover-inner{
    // padding: 10px;
    // background: #d2cfcf;

    btn{
      padding: 10px;
    }
  }
}

.stream-duration {
  .custom-wallet{
    align-items: center;
    display: flex;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}


.show-streaming-box {
  .streaming-content{
    display: flex;
    align-items: center;

    p{
      margin-right: 5px;
    }
  }
}