.ant-menu {
	background-color: white;
	color: #000;
	border: none;

	li {
		border: 1px solid #ccc;
	}
}
.ant-statistic-title {
	margin-bottom: 4px;
	color: #000;
	font-weight: bold;
	font-size: 13px;
}

.border-card-dashboard {
	border: 2px solid red;
	cursor: pointer;
	transition: all 200ms;
	&:hover {
		background-color: #eee;
	}
}

.dashboard-card-event {
	span {
		font-size: 14px;
	}

	.dashboard-card-event-hidden {
		.ant-statistic-content {
			display: none !important;
		}
	}
}

.dashboard-schedule-items {
	.ant-card-bordered {
		height: 200px;
		overflow-y: scroll;
	}
}